.header {
  /* width: 1440px; */
  width: 100vw;
  padding: 20px 28px;
}

.header__container {
  /* width: 1384px; */
}

.header__rowTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search svg {
  color: black;
  width: 16px;
  height: 16px;
}

.header__search svg path {
  fill: #2a254b;
}

.header__searchSVG {
  margin-right: 20px;
}

.header__burgerSVG {
  display: none;
}

.header__logo {
  font-size: 24px;
  color: #22202e;
  font-family: var(--font-option);
}
.header__user {
  display: flex;
}

.cartIcon {
  margin-right: 16px;
}

.header__user svg {
  width: 15px;
  height: 15px;
}

.header__user svg path {
  fill: #2a254b;
}

.header__divider {
  height: 1px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  padding-top: 20px;
  display: block;
}

.header__rowBottom {
  padding: 20px 0px;
  display: block;
}

.header__nav {
}

.header__navList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navLink a {
  color: #726e8d;
  position: relative;
}

.header__navLink a::after {
  position: absolute;
  left: 0;
  width: 0%;
  bottom: -7px;
  content: "";
  display: block;
  height: 2px;
  background-color: #726e8d;
  transition: width 0.2s ease-in;
}

.header__navLink a:hover::after {
  width: 100%;
}

.header__navLink + .header__navLink {
  margin-left: 44px;
}

.header__logoLink {
  color: black;
}

.cartAmount {
    position: absolute;
    top: 15px;
    right: 45px;
    border-radius: 10px;
    background: #a5cf8a;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

@media all and (max-width: 390px) {
  .header__rowBottom {
    display: none;
  }

  .header__divider {
    display: none;
  }

  .header__user {
    display: none;
  }

  .header__search {
    display: flex;
  }

  .header__burgerSVG {
    display: block;
  }

  .header__rowTop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
