.joinTheClub {
  background-color: #f9f9f9;
  /* width: 1440px; */
  width: 100vw;
  padding: 52px 74px 65px 93px;
}

.container {
  background-color: white;
  text-align: center;
}

.content {
  padding: 0 150px;
}

.title {
  color: #2a254b;
  font-size: 36px;
  font-family: var(--font-option);
  padding-top: 68px;
}

.desc {
  color: #2a254b;
  font-size: 16px;
  padding: 16px 50.5px 0 50.5px;
  line-height: 1.5;
}

.content form {
  padding: 72px 0px 54px 0px !important;
}

.inputEmail {
  width: 354px;
  height: 56px;
  background-color: #f9f9f9;
  border: none;
  padding-left: 32px;
}

.inputSubmit {
  padding: 16px 32px;
  background-color: #2a254b;
  color: white;
  border: none;
}

@media all and (max-width: 992px) {

  .joinTheClub {
    background-color: #f9f9f9;
    /* width: 1440px; */
    width: 100vw;
    padding: 24px 48px 24px 48px;
  }

  .content {
    padding: 0 10px;
  }

  form {
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
  }

  .inputEmail {
    width: 50%;
    height: 56px;
    background-color: #f9f9f9;
    border: none;
    padding-left: 32px;
  }
}

@media all and (max-width: 390px) {
  .content {
    padding: 0 0px;
  }

  .joinTheClub {
    background-color: #f9f9f9;
    /* width: 1440px; */
    width: 100vw;
    padding: 0
  }

  .title {
    font-size: 20px;
    padding-top: 48px;
  }

  .desc {
    color: #2a254b;
    font-size: 14px;
    padding: 16px 24px 0 37px;
    line-height: 1.5;
  }

  .content form {
    padding: 64px 24px 38px 24px !important;
  }

  /* form {
    display: flex;
    justify-content: center;
    padding: 0 24px 0 24px;
  } */

  .inputEmail {
    width: 70%;
    height: 56px;
    background-color: #f9f9f9;
    border: none;
    padding-left: 32px;
  }
  
  .inputSubmit {
    padding: 16px 32px;
    background-color: #2a254b;
    color: white;
    border: none;
  }
}