.joinTheClub {
  background-color: #f9f9f9;
  width: 1440px;
  padding: 52px 74px 65px 93px;
}

.container {
  background-color: white;
  text-align: center;
}

.content {
  padding: 0 351px;
}

.title {
  color: #2a254b;
  font-size: 36px;
  font-family: var(--font-option);
  padding-top: 68px;
}

.desc {
  color: #2a254b;
  font-size: 16px;
  padding: 16px 50.5px 0 50.5px;
  line-height: 1.5;
}

.content form {
  padding: 72px 0px 54px 0px !important;
}

.inputEmail {
  width: 354px;
  height: 56px;
  background-color: #f9f9f9;
  border: none;
}

.inputEmail {
  padding-left: 32px;
}

.inputSubmit {
  padding: 16px 32px;
  background-color: #2a254b;
  color: white;
  border: none;
}
