.imageContainer {
    width: 305px;
    /* height: 375px; */
}

.cardImage {
    /* width: 305px; */
    height: 300px;
    object-fit: none;
}

.ourPopular {
}

.container {
  /* width: 1440px; */
  width: 100vw;
  padding: 0 80px;
}

.title {
}

.titleHeader {
  font-size: 32px;
  color: #2a254b;
  line-height: 1.4;
  font-family: var(--font-option);
  /* padding-top: 64px; */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  opacity: 1;
  transition: all 0.2s ease-in;
  padding-top: 25px;
  max-width: 285px;
}

.card img {
}

.card h4 {
  padding-top: 24px;
  font-family: var(--font-option);
  font-size: 20px;
  line-height: 1.4;
  color: #2a254b;
}
.card p {
  font-size: 18px;
  line-height: 1.5;
  color: #2a254b;
  padding-top: 8px;
}

/* .card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.cardLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card:hover {
  opacity: 0.7;
}

.button {
  padding: 42px 0 48px 0;
  text-align: center;
}

.button button {
  padding: 16px 32px;
  color: #2a254b;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: #eae2e2;
}

@media all and (max-width: 823px) {
  .card.sofa {
    padding-top: 0px;
  }
}

@media all and (max-width: 390px) {
  
  .container {
    padding: 0 0;
    padding-left: 24px;
  }

  .titleHeader {
    font-size: 24px;
    padding-top: 48px;
  }

  .card h4 {
    padding-top: 24px;
    font-size: 12px;
  }
  .card p {
    font-size: 10px;
    padding-top: 8px;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: scroll;
    flex-wrap: no-wrap;
    flex-direction: row;
  }

  .card {
    position: relative;
    opacity: 1;
    transition: all 0.2s ease-in;
    padding-top: 25px;
  }

  .card img {
    min-width: 200px;
    object-fit: cover;
  }

  .button {
    padding: 42px 0 48px 0;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }

  .button button {
    width: 95%;
    padding: 16px 32px;
    color: #2a254b;
    background-color: #f9f9f9;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
}
