@font-face {
  src: url(./../public/fonts/Satoshi-Regular.ttf);
  font-family: Satoshi;
}

@font-face {
  src: url(./../public/fonts/ClashDisplay-Regular.ttf);
  font-family: ClashDisplay-Regular;
}

@font-face {
  src: url(./../public/fonts/ClashDisplay-Medium.ttf);
  font-family: ClashDisplay-Medium;
}

body {
--font-main: Satoshi;
--font-option: ClashDisplay-Regular;
--font-option-accent: ClashDisplay-Medium;

  font-family: var(--font-main);
  font-size: 16px;
}